@model CypherMVC.Models.Task
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create a New Task<br />
            <span><small>These are issues your team members should take care of - ASAP!</small></span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateEdit", "Task"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Title, "Title")
                @Html.TextAreaFor(x => x.Title, new { @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5})
            </div>

            var list = new List<SelectListItem>()
            {
                new SelectListItem() { Text = "Business Enquiry", Value = "4"},
                new SelectListItem() { Text = "Payment", Value = "1"},
                new SelectListItem() { Text = "UI Issue", Value = "2"},
                new SelectListItem() { Text = "Question", Value = "3"}
            };

            <div class="form-group">
                @Html.LabelFor(x => x.CategoryId, "Category")
                @Html.DropDownListFor(x => x.CategoryId, list, new { @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Due Date</label>
                @Html.TextAreaFor(x => x.DueDate, new { @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Assigned To</label>
                @Html.TextAreaFor(x => x.AssignedToId, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Associated Message</label>
                @Html.TextAreaFor(x => x.AssociatedMessageId, new { @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Notes</label>
                @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", rows = 5})
            </div>
            <div class="form-group">
                <label>Is Complete</label>
                @Html.CheckBoxFor(x => x.Completed)
            </div>
            <div class="form-group">
                <input class="btn btn-primary pull-right" type="submit" value="Submit"/>
            </div>
        }
    </div>
</div>